
.search-bar {
	width: 100%;
	height: 1.066666rem;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: px2rem( 8px );
	bottom: px2rem( 2px );
	.bar-location {
		margin-right: 0.533333rem;
		border-radius: 0.346667rem;
		background-color: rgba( 0, 0, 0, .33 );
		height: px2rem( 28px );
		width: px2rem( 92px );
		.location-text {
			font-size: 0.373333rem;
			display: inline-block;
			position: relative;
			color: #fff;
			vertical-align: px2rem( 17px );
			margin-right: px2rem( 19px );
			margin-left: px2rem( 8px );			
			&:after {
				content: " ";
				display: block;
				position: absolute;
				width: px2rem( 14px );
				height: px2rem( 14px );
				top: px2rem( 1px );
				right: px2rem( -15px );
	            background-image: url('./images/arrowIcon.png');
	            background-size: cover;
			}
		}
		.location-icon {
			display: inline-block;
			width: px2rem( 15px );
			height: px2rem( 20px );
			vertical-align: px2rem( 8px );
			margin-left: px2rem( 6px );
			margin-bottom: px2rem(5px);
	        background-image: url('./images/locationIcon.png');
	        background-size: cover;
		}
	}
	.search-bar-btn {
		width: px2rem( 170px );
		height: px2rem( 30px );
		background-color: #fff;
		border-radius: px2rem( 20px);
		position: relative;
		&:before {
			content: " ";
			display: block;
			position: absolute;
			width: px2rem( 14px );
			height: px2rem( 14px );
			top: px2rem( 7px );
			left: px2rem( 10px );
            background-image: url('./images/searchIcon.png');
            background-size: cover;
		}
		.place-holder {
			font-size: px2rem( 14px );
			color: #a9a9a9;
			height: 100%;
			line-height: px2rem( 30px );
			margin-left: px2rem( 28px );
		}
	}
}